/* CSS Document */
/* roboto-regular - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/*TOP IMAGE*/

.topimgholder {
	position:relative;
	width: 100%;
	background-color:blue;

}

.topbg {
	
	position:fixed;
	min-height: 100vh;
	width: 100%;
	overflow:hidden;
	background-image: url(/images/background-1247931_1920.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;


}

/*TOP IMAGE ENDS*/







/*NAVIGATION SECTION*/

.navbar-expand-lg {
		box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.1);
}

/*NAVIGATION SECTION ENDS*/







/*ENTRY BOX SECTION*/

.entry-box-theme {

	border-radius: 10px;
	padding: 3em 1em 3em 3em;/*
	box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1), 10px 0px 20px rgba(0,0,0,0.1);*/
	/*box-shadow: 16px 27px 73px 2px rgba(31,31,31,0.1), 16px 27px 48px 12px rgba(31,31,31,0.21);*/
		box-shadow: 16px 27px 50px 5px rgba(31,31,31,0.33);
	background-color: azure;
	margin-top: 1em;

	
}

.entry-box-theme h2, .cover-box h2 {
	opacity: 0.4;
	font-family: 'RobotoBold';

}

 hr {
	width: 95%;
	margin-left: 0em;
}

.entry-main-box {
/*
		background-color:blue;*/
	margin-top: 7em;
	margin-left: 2em;
}

.table-box{
	margin-top: 3em;
	
}

.entry-box {
/*
	background-color: chartreuse;*/

	width: 90%;
	padding-left: 0;
}

.entry-box input {
	
	width: 100%;
	
}



.entry-box textarea {
	
	width: 10%;
	
}

.entry-box button {
	
	margin-top: 2em;

}



/*ENTRY BOX SECTION ENDS*/






/*COVER BOX BEGINS*/

.cover-box {
margin-top: -10px;
padding-top: 9em;
padding-bottom: 5em;
background-color: azure;
box-shadow: 16px 27px 50px 5px rgba(31,31,31,0.33);
	 min-height: calc(100vh - 56px);
	overflow: scroll;

	
}


.table-and-search{
	
		margin-top: 7em;
	
}

.dummy-text{
	
/*	background-color: blue;*/


	padding-top: 100px;
	font-family: 'RobotoReg';
	
	width: 80%;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dummy-text-lg{

	font-size: 200%;
	
}

.dummy-text-sm{

	font-size: 1.3em;
	
}

.cover-box input[type=text]:disabled {
	
	background-color: azure;
}

.cover-box p {
	

	opacity: 0.7;
}



/*COVER BOX ENDS*/











.box-approve-btn {
	width: 100%;
	margin-top: 90px;
	
}


/*SEARCH BOX BEGINS*/

.search-box {
/*
	background-color:blue;*/
	margin-top: 1em;
	margin-left: 1em;
}


/*SEARCH BOX ENDS*/






/*LOADING BOX*/
@keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0%, 25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.lds-ellipsis {
  position: relative;
}
.lds-ellipsis > div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.lds-ellipsis div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f00;
  position: absolute;
  top: 100px;
  left: 32px;
  -webkit-animation: lds-ellipsis 1.7s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis 1.7s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.lds-ellipsis div:nth-child(1) div {
  -webkit-animation: lds-ellipsis2 1.7s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis2 1.7s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #32a0da;
}
.lds-ellipsis div:nth-child(2) div {
  -webkit-animation-delay: -0.85s;
  animation-delay: -0.85s;
  background: #7fbb42;
}
.lds-ellipsis div:nth-child(3) div {
  -webkit-animation-delay: -0.425s;
  animation-delay: -0.425s;
  background: #fdb813;
}
.lds-ellipsis div:nth-child(4) div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #f05125;
}
.lds-ellipsis div:nth-child(5) div {
  -webkit-animation: lds-ellipsis3 1.7s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  animation: lds-ellipsis3 1.7s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #32a0da;
}
.lds-ellipsis {
  width: 74px !important;
  height: 74px !important;
  -webkit-transform: translate(-37px, -37px) scale(0.37) translate(37px, 37px);
  transform: translate(-37px, -37px) scale(0.37) translate(37px, 37px);
}

/*LOADING BOX ENDS*/


.CONTACT-ME{
		
		display: none;
		
	}




@media only screen and (max-width: 768px) {

.entry-main-box {
	
	margin-left: 0;
}

.entry-box-theme{

	margin: 1em auto;
	
	}

.search-box {
	
	margin-left: 0;
}
	
}


@media only screen and (max-width: 1334px) {
	
.entry-box-theme {


	padding: 3em 1em 3em 2em;
	
}
}